
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Invoice</title>
		 <link rel="stylesheet" type="text/css" href="{% static 'css\pdf.css'%}">

     <style> .up2 {
   background-color: black;
   width: 100%;
   height: 60px;
   text-align: center;
   padding-bottom: 10px;
   color: whitesmoke;
   padding-top: 10px;
 } </style>
	</head>
	<body>
	<div class="up2">
	<center><h2>MON PARC</h2></center>
	</div>
  
  {% for errall in All %}
  <h5>Liste d'erreur de {{errall.nom_parc}} ({{errall.user.first_name}} {{errall.user.last_name}}):</h5>
   <hr>
  {% for parcL in machine %}
{%ifequal parcL.parc.id errall.id %}
{%if not parcL.probleme_ram and  not  parcL.probleme_dd and  not parcL.probleme_os and  not parcL.probleme_alimentation_affichage and not parcL.autre_probleme %}
{%else%}

  <h5>Machine {{parcL.nom}}:</h5>
   {%if   parcL.probleme_ram %}
  <h3> Ram:</h3>
  <li>  {{parcL.probleme_ram}} </li>
  {%endif%}

  {%if   parcL.probleme_dd %}
  <h3> Disque Dur:</h3>
  <li>  {{parcL.probleme_dd}} </li>
  {%endif%}

  {%if  parcL.probleme_os %}
  <h3> System d'exploitation :</h3>
  <li>  {{parcL.probleme_os}} </li>
  {%endif%}

  {%if   parcL.probleme_alimentation_affichage %}
  <h3> Allimentation:</h3>
  <li>  {{parcL.probleme_alimentation_affichage}} </li>

  {%endif%}

  {%if   parcL.autre_probleme %}
  <h3> Autre Probléme:</h3>
  <li>  {{parcL.autre_probleme|linebreaks}} </li>
  {%endif%}
  <br>
   <hr>
   <br>
  {%endif%}
  {%endifequal%}
  {%endfor%}
  {% endfor %}
 
	</body>
</html>



















